<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <style media="screen">
    h1{
      text-align:center;
      font-size:30px;
    }
  </style>
  <body>
    <h1>This is my contact form you can contact me here anytime</h1>

  <form id="contact-form" action="/contact" method="POST">
    <label for="fname">Name:</label>
    <input type="text" name="who" value="">
    <label for="email">E-mail</label>
    <input type="email" name="mail" value="">
    <label for="contact">Contact</label>
    <input type="contact" name="contact" value="">
    <input type="submit" name="submit" value="submit">
  </form>













  </body>
</html>
